<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=NANU\SQLEXPRESS;Initial Catalog=aa;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>  
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
	  <!--
   
	   <add key="ParentTableName" value="Players"/>
    <add key="ParentPrimaryKey" value="Pid"/>
    <add key="SelectParentQuery" value="SELECT * FROM Players"/>
	  
    <add key="ChildTableName" value="Contracts"/>
    <add key="ChildPrimaryKey" value="Cid"/>
    <add key="ChildForeignKey" value="Pid"/>
    <add key="ChildNumberOfColumns" value="5"/>
    <add key="ChildColumnNames" value="Team_name,Start_d,Last_d,Salary"/>
    <add key="ColumnNamesInsertParameters" value="@team,@start,@last,@salary"/>

    <add key="InsertQuery" value="INSERT INTO Contracts (Cid, Pid, Team_name, Start_d, Last_d, Salary) VALUES (@cid, @pid, @team, @start, @last, @salary)"/>
    <add key="SelectChildQuery" value="SELECT * FROM Contracts WHERE Pid=@pid"/>
    <add key="UpdateQuery" value="UPDATE Contracts SET Team_name = @team, Start_d=@start, Last_d=@last, Salary=@salary WHERE Cid=@cid"/>
    <add key="DeleteQuery" value="DELETE FROM Contracts WHERE Cid=@cid"/>
    

       -->
	  
	  
	<add key="ParentTableName" value="RuleCategories"/>
    <add key="ParentPrimaryKey" value="CategoryID"/>
    <add key="SelectParentQuery" value="SELECT * FROM RuleCategories"/>

     <add key="ChildTableName" value="SpecificRules"/>
    <add key="ChildPrimaryKey" value="RuleID"/>
    <add key="ChildForeignKey" value="CategoryID"/>
    <add key="ChildNumberOfColumns" value="2"/>
    <add key="ChildColumnNames" value="Description,CategoryID"/>
    <add key="ColumnNamesInsertParameters" value="@description,@categoryId"/>
	  
    <add key="InsertQuery" value="INSERT INTO SpecificRules (RuleID, Description, CategoryID) VALUES (@ruleId, @description, @categoryId)"/>
    <add key="SelectChildQuery" value="SELECT * FROM SpecificRules WHERE CategoryID=@categoryId"/>
    <add key="UpdateQuery" value="UPDATE SpecificRules SET Description = @description, CategoryID=@categoryId WHERE RuleID=@ruleId"/>
    <add key="DeleteQuery" value="DELETE FROM SpecificRules WHERE RuleID=@ruleId"/>
  

  </appSettings>
</configuration>
